@use "variables";
@use "mixins";


.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: 100px;
  grid-gap: 30px;
  max-width: 1000px;
  margin: 0 auto 50px;

  &__item {
    @include mixins.gridItem;
    &:first-child {
      background: variables.$bgAccent;
    }
    &:last-of-type {
      border-color: variables.$bgError;
    }
  }

  &--inner {
    &__item {
      @for $i from 1 through 4 {
        &:nth-child(#{$i}) {
          background-color: darken(variables.$bgSky, ($i - 1) * 10%);
        }
      }
    }
  }

}