

// Background
$bg: #444;
$bgDefault: transparent;
$bgError: tomato;
$bgAccent: #7c007c;
$bgSky: deepskyblue;




// Colors
$text: #f1efef;
$dark: #222;
$light: #888;

// Borders
$radiusDefault: 5px;
