.grid__item {
  border: 1px solid #888;
  border-radius: 5px;
}

* {
  margin: 0;
  box-sizing: border-box;
}

ul, ol {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Arial", sans-serif;
  background: #222;
  color: #f1efef;
  overflow-x: hidden;
  padding: 100px 30px;
}

.container {
  padding: 0 15px;
  max-width: 1230px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: 100px;
  grid-gap: 30px;
  max-width: 1000px;
  margin: 0 auto 50px;
}
.grid__item {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}
.grid__item:first-child {
  background: #7c007c;
}
.grid__item:last-of-type {
  border-color: tomato;
}
.grid--inner__item:nth-child(1) {
  background-color: deepskyblue;
}
.grid--inner__item:nth-child(2) {
  background-color: #0099cc;
}
.grid--inner__item:nth-child(3) {
  background-color: #007399;
}
.grid--inner__item:nth-child(4) {
  background-color: #004c66;
}

.circle-list {
  display: grid;
  grid-template-columns: repeat(5, 150px);
  grid-auto-rows: 150px;
  grid-gap: 30px;
  justify-content: center;
  margin-bottom: 50px;
}
.circle-list__item > svg {
  width: inherit;
  height: inherit;
  transform: rotate(-90deg);
  border-radius: 50%;
}
.circle-list__item > svg circle {
  fill: #ddd;
  stroke: red;
  stroke-width: 32;
}

.gradient {
  width: 500px;
  height: 200px;
  margin: 0 auto 50px;
}
.gradient > svg {
  width: inherit;
  height: inherit;
  fill: none;
}

.gradient-box {
  position: relative;
  display: block;
  width: 500px;
  height: 200px;
  padding: calc(10px + 1em);
  background: url('data:image/svg+xml,  <svg xmlns="http://www.w3.org/2000/svg" >      <linearGradient id="g" gradientTransform="rotate(45)">        <stop stop-color="red"></stop>        <stop stop-color="indigo" offset=".5"></stop>        <stop stop-color="indigo" offset=".8"></stop>        <stop stop-color="%230bf" offset="1"></stop>    </linearGradient>    <rect width="100%" height="100%" style="stroke: url(%23g); stroke-width: 20px; fill: none; " />  </svg>');
}

.simple-shape {
  width: 100px;
  height: 100px;
  display: inline-block;
  margin: 50px;
}

.one {
  background-color: #ffaabb;
  animation: simple-square-to-circle 2s 0s linear infinite alternate;
}

@keyframes simple-square-to-circle {
  100% {
    border-radius: 50%;
  }
}
.two {
  background-color: #aabbff;
  animation: simple-rotate 2s 2s linear infinite alternate;
}

@keyframes simple-rotate {
  100% {
    transform: rotate(360deg);
  }
}
.three {
  background-color: #00ddcc;
  animation: simple-scale 1s 1s linear infinite alternate;
}

@keyframes simple-scale {
  100% {
    transform: scale(1.5);
  }
}
.four {
  background-color: #c7e1ba;
  animation: simple-move 2s 2s linear infinite alternate;
}

@keyframes simple-move {
  100% {
    transform: translate(50px, 0);
  }
}
/*------------*/
@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes caret {
  50% {
    border-right-color: transparent;
  }
}
.text-animation {
  margin-bottom: 100px;
}
.text-animation h1 {
  font: bold 32px Courier, monospace;
  width: 15ch;
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.05em solid;
  animation: typing 3s steps(15), caret 1s steps(1) infinite;
}

/*------------*/
@keyframes panoramic {
  to {
    background-position: 100% 0;
  }
}
/*------------*/
.panoramic {
  width: 500px;
  height: 300px;
  margin: 0 auto 100px;
  background: url("https://picsum.photos/1024/400");
  background-size: auto 100%;
  animation: panoramic 3s linear infinite alternate;
  animation-play-state: paused;
}
.panoramic:hover {
  animation-play-state: running;
}

/*------------*/
@keyframes spin {
  from {
    transform: rotate(0turn) translateY(-150px) translateY(50%) rotate(1turn);
  }
  to {
    transform: rotate(1turn) translateY(-150px) translateY(50%) rotate(0turn);
  }
}
.avatar {
  animation: spin 3s infinite linear;
}

/* Anything below this is just styling */
.avatar {
  display: block;
  width: 50px;
  margin: calc(50% - 25px) auto 0;
  border-radius: 50%;
  overflow: hidden;
}

.path {
  width: 300px;
  height: 300px;
  padding: 20px;
  margin: 100px auto;
  border-radius: 50%;
  background: #fb3;
  box-sizing: content-box;
}

/*# sourceMappingURL=main.css.map */
