
.list__item--lisbon {
  grid-column-start: 1;
  grid-column-end: 3;
}

.list__item--paris {
  grid-column-start: 3;
  grid-column-end: 4;
}

.list__item--belgrade {
  grid-column-start: 4;
  grid-column-end: 5;
}

.list__item--venice {
  grid-column-start: 1;
  grid-column-end: 2;
}

.list__item--telavive {
  grid-column-start: 2;
  grid-column-end: 3;
}

.list__item--cair {
  grid-column-start: 3;
  grid-column-end: 4;
}

.list__item--york {
  grid-column-start: 4;
  grid-column-end: 5;
}

.list__item--delhi {
  grid-column-start: 1;
  grid-column-end: 2;
}

.list__item--francisco {
  grid-column-start: 2;
  grid-column-end: 4;
}

.list__item--tokyo {
  grid-column-start: 4;
  grid-column-end: 5;
}

.list__item--sydney {
  grid-column-start: 1;
  grid-column-end: 5;
}